/* עוגן ל-absolute + מניעת בלגן */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  position: relative;
  overflow: hidden;

  /* רקע עם תמונה + שכבת כהות */
  background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("bg.jpg") center/cover no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* גירוןןןכ*/
.big-title {
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  text-align: center;

  font-size: 72px;
  font-weight: 900;
  letter-spacing: 2px;

  background: linear-gradient(90deg, #ffffff, #00e0ff, #ffffff);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 2s linear infinite;
  text-shadow: 0 0 22px rgba(0, 224, 255, 0.75);

  z-index: 2;
}

@keyframes shine {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

/* הכרטיס המרכזי */
.container {
  width: 340px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  padding: 26px;
  box-shadow: 0 18px 45px rgba(0,0,0,0.45);
  text-align: center;

  z-index: 1;
}

h2 {
  margin: 0 0 8px 0;
  color: #0b63d1;
  font-size: 26px;
}

.subtitle {
  margin: 0 0 18px 0;
  font-weight: 700;
  opacity: 0.85;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #d0d0d0;
  font-size: 16px;
}

button {
  margin-top: 12px;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  background: #0b63d1;
  color: #ffffff;
}

button:hover {
  background: #074ea6;
}

.result {
  margin-top: 16px;
  font-weight: 800;
  line-height: 1.5;
}
.lbl {
  display: block;
  text-align: right;
  margin: 12px 0 6px;
  font-weight: 800;
}

select {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #d0d0d0;
  font-size: 16px;
  background: white;
}
/* שכבת המבורגרים ברקע */
#burger-layer {
  position: fixed;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 1; /* מעל רקע, מתחת לתוכן */
}

/* האלמנט שזז למעלה */
.burger {
  position: absolute;
  opacity: 0.22;
  animation: floatUp var(--dur) linear infinite;
  will-change: transform;
}

/* האייקון שמסתובב */
.burger span {
  display: block;
  font-size: 48px;
  animation: spin var(--spin) linear infinite;
  will-change: transform;
}

/* תנועה מלמטה למעלה */
@keyframes floatUp {
  0%   { transform: translateY(120vh); }
  100% { transform: translateY(-30vh); }
}

/* סיבוב */
@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ודא שהתוכן מעל ההמבורגרים */
.container { position: relative; z-index: 3; }
.big-title { position: relative; z-index: 4; }
